<!DOCTYPE html>
<html data-ng-app="maut" data-ng-init="">
  <head>
    <title>Angular Table Example</title>
    <meta charset="utf-8">
    <style>
      html, body {
        font-family: sans-serif;
      }

      table {
        border: 1px solid red;
      }

      tfoot {
        text-align: right;
      }
      
      .dashed-right {
        border-right: 1px dashed black;
      }

      /*.selected {
        background-color: #f9f9f9;
      }*/

      [id*='row'], [for*='row'] {
        cursor: pointer;
      }

      td {
        padding: 0.3em;
      }

      input[type='number'] {
        text-align: right;
        box-sizing: border-box;
        width: 3em;
      }

      input[readonly] {
        border-color: transparent;
      }

      .ui-spinner-disabled {
        opacity: 1 !important;
        border-color: #ddd !important;
      }

      .ui-widget {
        font-size: 1em !important;
      }

      .ui-slider {
        width: 200px;
      }

      .ui-spinner-input {
        font-size: 12px !important;
        line-height: 12px !important;
        width: 2em !important;
      }

      .ui-widget.ui-slider {
        font-size: 12px !important;
        margin-left: 0.5em;
        margin-right: 0.5em;
      }

      .ui-slider-handle,
      .ui-button-text * {
        -moz-user-select: none; 
        -khtml-user-select: none; 
        -webkit-user-select: none; 
        user-select: none;
        
        -moz-user-drag: -moz-none;
        -webkit-user-drag: none; 
        user-drag: none;
      }

      .ui-spinner-input::-webkit-outer-spin-button,
      .ui-spinner-input::-webkit-inner-spin-button {
        display: none;
      }

      .centre { text-align: center; }
    </style>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
    <script src="http://code.jquery.com/jquery-1.8.3.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json3/3.2.4/json3.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.0.3/angular.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js"></script>
    <script>
var module = angular.module("maut", []);

module.directive('uiSlider', function factory() {
  var definition, div;
  
  definition = {
    scope: true,
    require:'ngModel',
    compile: function compile(element, attrs, ctrl) {
      if (attrs.uiSlider == "polyfill" && Modernizr.inputtypes.number) {
        return;
      }

      return {
        pre: function(scope, element, attrs, ctrl) {
          var sliderDiv = div;
          
          sliderDiv = $(document.createElement('div'));
          sliderDiv.insertAfter(element[0]);
          sliderDiv.slider({
            slide: function(event, ui) {
              scope.$apply(function() {
                ctrl.$setViewValue(ui.value);
              });
            }
          });
          
          element[0].style.display = "none";
          div = sliderDiv;
        },  

        post: function(scope, element, attrs, ctrl) {
          var sliderDiv = div;
          
          attrs.$observe("min", function(value) {
            if (value != null) { 
              sliderDiv.slider("option", "min", parseInt(value, 10));
            }
          });
          
          attrs.$observe("max", function(value) {
            if (value != null) { 
              sliderDiv.slider("option", "max", parseInt(value, 10));
            }
          });
          
          attrs.$observe("step", function(value) {
            if (value != null) { 
              sliderDiv.slider("option", "step", parseInt(value, 10));
            }
          });

          attrs.$observe("disabled", function(value) {
            sliderDiv.slider(value ? "disable" : "enable");
            if (value) {
              sliderDiv.find("a").attr('tabindex', -1);
            } else {
              sliderDiv.find("a").removeAttr('tabindex');
            }
          });

          scope.$watch(function() { return scope.$eval(attrs.ngModel) }, function(value) {
            if (value != null) { 
              sliderDiv.slider("value", parseInt(value, 10));
            }
          });
        }
      };
    }
  };
  return definition;
});

module.directive('uiSpinner', function factory() {
    var definition;

    definition = {
      require: "ngModel",
      scope: true,
      link: function postLink(scope, element, attrs, ctrl) {
        if (attrs.uiSpinner == "polyfill" && Modernizr.inputtypes.number) {
          return;
        }
        
        element.spinner({
          spin: function(event, ui) {
            scope.$apply(function() {
              ctrl.$setViewValue(ui.value);
            });
          } 
        });
        
        attrs.$observe("readonly", function(value) {
          element.spinner(value ? "disable" : "enable");
        });
        
        attrs.$observe("min", function(value) {
          if (value != null) { 
            element.spinner("option", "min", parseInt(value, 10));
          }
        });
          
        attrs.$observe("max", function(value) {
          if (value != null) { 
            element.spinner("option", "max", parseInt(value, 10));
          }
        });
        
        attrs.$observe("step", function(value) {
          if (value != null) { 
            element.spinner("option", "step", parseInt(value, 10));
          }
        });

        scope.$watch(function() { return scope.$eval(attrs.ngModel) }, function(value) {
          if (value != null) { 
            element.spinner("value", parseInt(value, 10));
          }
        });
      }
    };

    return definition;
});

    function TableController($scope) {
      $scope.root = $scope; // Hack to reveal root scope to repeats
      
      $scope.solutions = ["Current Situation", "Moratorium in prime agriculture / national parks", "Full moratorium", "Ban on CSG in prime agriculture / national parks", "Full ban on CSG"];
      $scope.criteria = ["Farmer's rights", "Retention of arable land", "Retention of habitat", "Groundwater damage", "Fugitive emissions", "Mining profit/revenue", "Emissions reductions", "Protect our drinkable water supply"];
      $scope.rows = [];
      $scope.weights = [];

      $scope.writable = true;

      {
        var column, i, ii, cells, w = 5;

        cells = function() {
          var x = [];
          for (var i = 0, ii = $scope.solutions.length; i < ii; ++i) {
            x.push({solution: $scope.solutions[i], value: 0});
          }
          return x;
        };

        for (i = 0, ii = $scope.criteria.length; i < ii; ++i) {
          $scope.rows.push({
            criterion: $scope.criteria[i],
            weight: w,
            cells: cells()
          });
        }
      }

      $scope.toggleWritable = function() {
        $scope.writable = !$scope.writable;
      }

      $scope.getAvailableWeight = function() {
        var i, ii, out = parseInt(this.row.weight, 10);
        
        if (this.row && this.row.selected || getSelectedRows().length == 0) {
          return $scope.getMaxWeight();
        }
        
        for (i = 0, ii = $scope.rows.length; i < ii; ++i) {
          if ($scope.rows[i].selected) {
            out += parseInt($scope.rows[i].weight, 10);
          }
        }
        return out;
      }

      $scope.getMinWeight = function() {
        return (this.row && this.row.selected) ? 0 : (parseInt(this.row.weight, 10) % $scope.getWeightStep());
      }
      
      $scope.getMaxWeight = function() {
        return 5 * $scope.criteria.length;
      }

      $scope.getWeightStep = function() {
        if (this.row && this.row.selected) {
          return 1;
        } else {
          return getSelectedRows().length || 1;
        }
        
        var rows = getSelectedRows(),
            step = 0;
        for (var i = 0, ii = rows.length; i < ii; ++i) {
          if ($scope.rows[rows[i]].weight > 0) {
            step += 1;
          }
        }
        return step || 1;
      }

      $scope.columnTotal = function() {
        var out = 0;
        for (var i = 0, ii = $scope.rows.length; i < ii; ++i) {
          for (var j = 0, jj = $scope.rows[i].cells.length; j < jj; ++j) {
            if ($scope.rows[i].cells[j].solution == this.col) {
              out += $scope.rows[i].cells[j].value * $scope.rows[i].weight;
            }
          }
        }
        return out;
      }

      function setWeights(list) {
        for (var i = 0, ii = list.length; i < ii; ++i) {
          $scope.rows[i].weight = list[i];
        }
      }

      function getTotalWeight() {
        var i, ii, out = 0;
        for (i = 0, ii = $scope.rows.length; i < ii; ++i) {
          out += $scope.rows[i].weight;
        }
        return out;
      }

      function calculateWeights(changedRow) {
        var weights, selectedRows, available, split;
        
        weights = getRowWeights();
        selectedRows = getSelectedRows();
        available = $scope.getMaxWeight() - getTotalWeight();

        if (selectedRows.length == 0) {
          weights[changedRow] += available;
          return weights;
        }

        split = available / selectedRows.length;
        if (split != parseInt(split, 10)) {
          weights[changedRow] += available;
          return weights;
        }

        for (i = selectedRows.length-1; i >= 0; --i) {
          if (weights[selectedRows[i]] + split < 0) {
            selectedRows.splice(i, 1);
            weights[changedRow] += split;
          }
        }

        for (i = 0, ii = selectedRows.length; i < ii; ++i) {
          weights[selectedRows[i]] += split;
        }

        return weights;
      }

      function getSelectedRows() {
        var i, ii, out = [];
        for (i = 0, ii = $scope.rows.length; i < ii; ++i) {
          if ($scope.rows[i].selected) {
            out.push(i);
          }
        }
        return out;
      }

      function getRowWeights() {
        var i, ii, out = [];
        for (i = 0, ii = $scope.rows.length; i < ii; ++i) {
          out.push($scope.rows[i].weight);
        }
        return out;
      }

      $scope.swapWeight = function() {
        // input type range passes a string instead of a number... wtf
        this.row.weight = parseInt(this.row.weight, 10) || 0;
        setWeights(calculateWeights($scope.rows.indexOf(this.row)));
      }

      $scope.normaliseScore = function() {
        this.cell.value = Math.max(0, Math.min(10, parseInt(this.cell.value, 10) || 0));
      }

      $scope.readOnlyCheck = function() {
        return !$scope.writable || this.row.selected || getSelectedRows().length == 0;
      }

      $scope.debug$rows = function() {
        return JSON.stringify($scope.rows, function(k, v) { return /^\$/.test(k) ? undefined : v }, 2);
      }
    }
    </script>
  </head>
  <body>
    <h1>MAUT Example</h1>
    <p>This prototype assumes pretty good HTML5 compliance. Seems to only work properly in Chrome right now.</p>
    <h2>Instructions</h2>
    <p>Using the fields on the left, weight each criterion based on how important you feel they are relative to each other.</p>
    <p>Score each solution compared against each criterion from 0 to 10, where 0 is meets criterion not at all, and 10 meets criterion fully.</p>
    <div id="table" data-ng-controller="TableController">
      <table>
        <thead>
          <tr>
            <td colspan='4' style='color: gray' class='dashed-right'><small>Total available weight: {{getMaxWeight()}}</small></td>
            <th style="padding: 0 1em" data-ng-repeat="header in solutions">{{header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-class="{selected: row.selected}" data-ng-repeat="row in rows">
            <td>
              <input type='checkbox' name='row' id='row-{{rows.indexOf(row)}}' data-ng-model="row.selected">
            </td>
            <th>
              <label for="row-{{rows.indexOf(row)}}">{{row.criterion}}</label>
            </th>
            <td>
              <input data-ui-slider data-ng-disabled="readOnlyCheck()"
              type="range" min="{{getMinWeight()}}" max="{{getAvailableWeight()}}" step="{{getWeightStep()}}"
              data-ng-model="row.weight" data-ng-change="swapWeight()">
            </td>
            <td class='dashed-right'>
              <input data-ng-readonly="readOnlyCheck()"
              type="number" min="{{getMinWeight()}}" max="{{getAvailableWeight()}}" step="{{getWeightStep()}}"
              data-ng-model="row.weight" data-ng-change="swapWeight()">
            </td>
            <td class="centre" data-ng-repeat="cell in row.cells">
              <input data-ui-spinner data-ng-readonly="!writable" type="number" min="0" max="10" 
              data-ng-model="cell.value" data-ng-change="normaliseScore()">
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" class='dashed-right'>Total</td>
            <td class='centre' data-ng-repeat="col in solutions">{{columnTotal()}}</td>
          </tr>
        </tfoot>
      </table>
      <div>
        <!--
        <label><small>Debug</small> Selected criterion: 
          <input style="width: 50px" type='text' data-ng-model="selectedRow">
        </label>
        -->
        <button data-ng-click="toggleWritable()">Toggle Readonly</button><br>
        <label><small>Debug</small> Rows data:<br>
          <pre>{{debug$rows()}}</pre>
        </label><br>
      </div>  
    </div>
  </body>
</html>


