<!DOCTYPE html>
<html data-ng-app>
  <head>
    <title>Angular Table Example</title>
    <meta charset="utf-8">
    <style>
      html, body {
        font-family: sans-serif;
      }

      table {
        border: 1px solid red;
      }

      tfoot {
        text-align: right;
      }
      
      .dashed-right {
        border-right: 1px dashed black;
      }

      .selected {
        background-color: #f9f9f9;
      }

      [id*='row'], [for*='row'] {
        cursor: pointer;
      }

      td {
        padding: 0.3em;
      }

      input[type='number'] {
        text-align: right;
        box-sizing: border-box;
        width: 100%;
      }

      input[readonly] {
        border-color: transparent;
      }
    </style>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/json3/3.2.4/json3.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script>
    function TableController($scope) {
      $scope.root = $scope; // Hack to reveal root scope to repeats
      
      $scope.solutions = ["First", "Second", "Third", "Herp"];
      $scope.criteria = ["Criteria 1", "Criteria 2", "Criteria 3", "Criteria 4", "Criteria 5"];
      $scope.rows = [];
      $scope.weights = [];

      $scope.writable = true;

      {
        var column, i, ii, cells, w = 5;

        cells = function() {
          var x = [];
          for (var i = 0, ii = $scope.solutions.length; i < ii; ++i) {
            x.push({solution: $scope.solutions[i], value: 0});
          }
          return x;
        };

        for (i = 0, ii = $scope.criteria.length; i < ii; ++i) {
          $scope.rows.push({
            criterion: $scope.criteria[i],
            weight: w,
            cells: cells()
          });
        }
      }

      $scope.toggleWritable = function() {
        $scope.writable = !$scope.writable;
      }

      $scope.getMax = function(comp) {
        return (comp + $scope.remainingScore > $scope.remainingScore ? comp : 0) + $scope.remainingScore;
      }
      
      $scope.getMaxWeight = function() {
        return 5 * $scope.criteria.length;
      }

      $scope.columnTotal = function() {
        var out = 0;
        for (var i = 0, ii = $scope.rows.length; i < ii; ++i) {
          for (var j = 0, jj = $scope.rows[i].cells.length; j < jj; ++j) {
            if ($scope.rows[i].cells[j].solution == this.col) {
              out += $scope.rows[i].cells[j].value * $scope.rows[i].weight;
            }
          }
        }
        return out;
      }

      function setWeights(list) {
        for (var i = 0, ii = list.length; i < ii; ++i) {
          $scope.rows[i].weight = list[i];
        }
      }

      function calculateWeights(changedRow, selectedRows, rows) {
        var used = 0,
            available,
            split, excess,
            i, ii;

        for (i = 0, ii = rows.length; i < ii; ++i) {
          if (i == changedRow) {
            continue;
          }
      
          if (selectedRows.indexOf(i) == -1) {
            used += parseInt(rows[i], 10);
          } else {
            rows[i] = 0;
          }
        }
      
        available = $scope.getMaxWeight() - rows[changedRow] - used;
        if (available < 0 || selectedRows.length == 0) {
          rows[changedRow] += available;
          return rows;
        }
      
        split = parseInt(available / selectedRows.length, 10);
        excess = available % selectedRows.length;
      
        for (i = 0, ii = selectedRows.length; i < ii; ++i) {
          rows[selectedRows[i]] = split;
          if (excess > 0) {
            rows[selectedRows[i]] += 1;
            --excess;
          }
        }
        console.log(rows);
        return rows;
      }

      function getSelectedRows() {
        var i, ii, out = [];
        for (i = 0, ii = $scope.rows.length; i < ii; ++i) {
          if ($scope.rows[i].selected) {
            out.push(i);
          }
        }
        return out;
      }

      function getRowWeights() {
        var i, ii, out = [];
        for (i = 0, ii = $scope.rows.length; i < ii; ++i) {
          out.push($scope.rows[i].weight);
        }
        return out;
      }

      $scope.swapWeight = function() {
        // input type range passes a string instead of a number... wtf
        this.row.weight = parseInt(this.row.weight, 10);
        setWeights(calculateWeights($scope.rows.indexOf(this.row), getSelectedRows(), getRowWeights()));
      }

      $scope.normaliseScore = function() {
        console.log(this);
        this.cell.value = Math.max(0, Math.min(10, parseInt(this.cell.value, 10) || 0));
      }

      $scope.readOnlyCheck = function() {
        return !$scope.writable || this.row.selected;
      }

      $scope.debug$rows = function() {
        return JSON.stringify($scope.rows, undefined, 2);
      }
    }
    </script>
  </head>
  <body data-ng-app="maut" data-ng-init="">
    <h1>MAUT Example</h1>
    <p>This prototype assumes pretty good HTML5 compliance. Seems to only work properly in Chrome right now.</p>
    <h2>Instructions</h2>
    <p>Using the fields on the left, weight each criterion based on how important you feel they are relative to each other.</p>
    <p>Score each solution compared against each criterion from 0 to 10, where 0 is meets criterion not at all, and 10 meets criterion fully.</p>
    <div id="table" data-ng-controller="TableController">
      <table>
        <thead>
          <tr>
            <td colspan='4' style='color: gray' class='dashed-right'><small>Total available weight: {{getMaxWeight()}}</small></td>
            <th data-ng-repeat="header in solutions">{{header}}</th>
          </tr>
        </thead>
        <tbody>
          <tr data-ng-class="{selected: row.selected}" data-ng-repeat="row in rows">
            <td>
              <input type='checkbox' name='row' id='row-{{rows.indexOf(row)}}' data-ng-change="lastRow = 0" data-ng-model="row.selected">
            </td>
            <th>
              <label for="row-{{rows.indexOf(row)}}">{{row.criterion}}</label>
            </th>
            <td>
              <input data-ng-disabled="readOnlyCheck()"
              type="range" min="0" max="{{getMaxWeight()}}" data-ng-model="row.weight"
              data-ng-change="swapWeight()">
            </td>
            <td class='dashed-right'>
              <input data-ng-readonly="readOnlyCheck()"
              type="number" min="0" max="{{getMaxWeight()}}" data-ng-model="row.weight"
              data-ng-change="swapWeight()">
            </td>
            <td data-ng-repeat="cell in row.cells">
              <input data-ng-readonly="!writable" type="number" min="0" max="10" 
              step="1" data-ng-model="cell.value" data-ng-change="normaliseScore()">
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <td colspan="4" class='dashed-right'>Total</td>
            <td data-ng-repeat="col in solutions">{{columnTotal()}}</td>
          </tr>
        </tfoot>
      </table>
      <div>
        <!--
        <label><small>Debug</small> Selected criterion: 
          <input style="width: 50px" type='text' data-ng-model="selectedRow">
        </label>
        -->
        <button data-ng-click="toggleWritable()">Toggle Readonly</button><br>
        <label><small>Debug</small> Rows data:<br>
          <pre>{{debug$rows()}}</pre>
        </label><br>
      </div>  
    </div>
  </body>
</html>

