<!DOCTYPE html>
<html data-ng-app>
	<head>
		<title>Angular Table Example</title>
		<meta charset="utf-8">
		<style>
			table {
				border: 1px solid red;
			}

      input[type='number'] {
        text-align: right;
      }

      input[readonly] {
        border-color: transparent;
      }
		</style>
	  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
	  <script>
		function TableController($scope) {
      $scope.solutions = ["First", "Second", "Third", "Herp"];
      $scope.criteria = ["Criteria 1", "Criteria 2", "Criteria 3", "Criteria 4", "Criteria 5", "Criteria 6"];
      $scope.rows = [];
      $scope.weights = [];

      $scope.writable = true;

      {
        var column, row, i, ii, cells;

        cells = function() {
          var x = [];
          for (var i = 0, ii = $scope.solutions.length; i < ii; ++i) {
            x.push({name: $scope.solutions[i], value: 0});
          }
          return x;
        };

        for (i = 0, ii = $scope.criteria.length; i < ii; ++i) {
          row = {name: $scope.criteria[i], cells: cells()};
          $scope.rows.push(row);
        }
      }

      $scope.toggleWritable = function() {
        $scope.writable = !$scope.writable;
      }

      $scope.getMax = function(comp) {
        return (comp + $scope.remainingScore > $scope.remainingScore ? comp : 0) + $scope.remainingScore;
      }

      $scope.getMaxWeight = function() {
        return $scope.criteria.length * 5;
      };

      $scope.weightMeBro = function() {
        var split = $scope.criteria.length - 1,
            diff = (this.row.lastWeight - this.row.weight) * 100 / split / 100
              % 100;

        this.row.lastWeight = this.row.weight;
        for (var i = 0, ii = $scope.rows.length; i < ii; ++i) {
          if ($scope.rows[i] != this.row) {
            $scope.rows[i].weight += diff;
          }
        }
      }
		}
	  </script>
  </head>
  <body>
	<h2>Table Example</h2>
	<div id="table" data-ng-controller="TableController">
    <table>
      <thead>
        <tr>
          <td colspan='2'></td>
          <th data-ng-repeat="header in solutions">{{header}}</th>
        </tr>
      </thead>
      <tbody>
        <tr data-ng-repeat="row in rows">
          <th>{{row.name}}</th>
          <td style="border-right: 1px dotted black">
            <input data-ng-readonly="!writable" data-ng-init="row.lastWeight = 5; row.weight = 5"
            type="number" min="0" max="{{getMaxWeight()}}" step="0.1" data-ng-model="row.weight"
            data-ng-change="weightMeBro()"></td>
		      <td data-ng-repeat="cell in row.cells">
            <input data-ng-readonly="!writable" type="number" min="0"
            max="10" step="1"
            data-ng-change="calculateRemainingScore()" data-ng-model="cell.value">
		      </td>
        </tr>
      </tbody>
	  </table>
      <button data-ng-click="toggleWritable()">Toggle Readonly</button><br>
    <textarea>{{rows}}</textarea>
    </div>
  </body>
</html>

